body {
    background-color: bisque;
    margin: 0 auto;
}

header {
    text-align: center;
}

.taskInputArea {
    text-align: center;
}

.taskTableArea {
    border: 2px solid darkcyan;
    padding-bottom: 5px;
    margin: 2rem;
}

#taskTable {
    margin: 0 auto;
    width: 300px;
}

th {
    background-color: darkcyan;
    color: cornsilk;
}

tr {
    width: 50px;
}